#tete{
	height: 54px;
	background-color: #9C0C26;
}
nav{
	padding-top: 55px;
}
nav ul li {
	list-style-type: none;
	display: inline;
}
#tete1{
	background-color: #E8E5E8;
}
#classement{
	color: #75E855;
}
.col-md-12 ul {
	list-style-type: none;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}